@{title(CONF.name)}
@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="robots" content="all,follow" />
	<script src="//cdn.componentator.com/spa.min@18.js"></script>
	<link href="//cdn.componentator.com/spa.min@18.css" rel="stylesheet" />
	<style>
		html,body { margin: 0; padding: 0; overflow: hidden; }
	</style>
	@{import('meta', 'head', 'favicon.png')}
</head>
<body>

	<div data---="designer__null__url:@{CONF.flowstream_designer.replace(/\:/g, '\\:')};components:@{(CONF.flowstream_components || '').replace(/\:/g, '\\:')}"></div>

	<script>

		var common = {};

		COMPONENT('designer', 'parent:window;margin:0', function(self, config) {

			self.readonly();

			var iframe;

			self.make = function() {
				var url = location.protocol + '//' + config.url + '/?darkmode={0}&socket={1}&tms=1&components={2}'.format($('body').hclass('ui-dark') ? '1' : '0', encodeURIComponent(location.origin.replace(/^http/, 'ws') + '/tms/?openplatform={0}'.format(encodeURIComponent(NAV.query.openplatform || ''))), encodeURIComponent(config.components || ''));
				self.append(('<iframe src="{0}" scrolling="no" frameborder="0"></iframe>').format(url));
				iframe = self.find('iframe');
				self.resizeforce();
				self.on('resize + resize2', self.resize);
			};

			self.resize = function() {
				setTimeout2(self.ID, self.resizeforce, 300);
			};

			self.resizeforce = function() {
				var parent = self.parent(config.parent);
				iframe.css({ width: parent.width(), height: parent.height() - config.margin })
			};

		});

	</script>

</body>
</html>