html,body { padding: 0; margin: 0; overflow: hidden; background-color: #F0F0F0; }
p { font-size: 13px; line-height: 16px; }

.ml5 { margin-left: 5px; }
.ml10 { margin-left: 10px; }

.ui-dockable-layout { z-index: 1; }

:root {
	--radius: 5px;
}

header { background-color: #FFF; height: 45px; border-bottom: 1px solid #E0E0E0; padding-left: 10px; }
header button, header a { margin: 6px 2px 0 0; float: left; border: 0; background-color: transparent; border-radius: var(--radius); padding: 0; min-width: 34px; height: 32px; font-size: 16px; line-height: 32px; text-decoration: none !important; text-align: center; color: #000; }
header button b { position: absolute; margin: 12px 0 0 4px; }
header button b i { font-size: 8px; }
header button.apply { padding: 0 15px 0 13px !important; font-weight: bold; }
header button.apply i { margin-right: 7px; color: #68B25B; }
header button.changed { color: #FFF !important; background: #68B25B !important; animation: 1s blink infinite alternate forwards; }
header button.changed i { color: #FFF; }
header button span { font-size: 12px; }
header button:hover, header a:hover { background-color: #F0F0F0; }
header button:disabled { color: #D0D0D0; cursor: not-allowed; background-color: transparent !important; }
header button.selected { background-color: #F0F0F0; }
header button.special, header a.special { color: #99982F; }
header > div { float: left; margin: 0 0 0 10px; padding-right: 10px; border-right: 1px solid #E0E0E0; height: 44px; }
header > div:first-child { margin-left: 0; }

.ui-dark header { background-color: #202020; border-bottom-color: #404040; }
.ui-dark header button, .ui-dark header a { background-color: transparent; color: #FFF; }
.ui-dark header button.apply i { color: #68B25B; }
.ui-dark header button.changed { color: #FFF !important; background: #68B25B !important; }
.ui-dark header button.changed i { color: #FFF; }
.ui-dark header button:hover, .ui-dark header a:hover { background-color: #333; }
.ui-dark header button.selected { background-color: #333; }
.ui-dark header button.special, .ui-dark header a.special { color: #99982F; }
.ui-dark header > div { border-right-color: #404040; }

.ui-layout-left { background-color: #FFF; border-right: 1px solid #E0E0E0; z-index: 1; }
.ui-layout-right { background-color: #FFF; }
.ui-layout-left .ui-searchinput { border: 0; border-bottom: 1px solid #E0E0E0; }

.ui-dark .ui-layout-left { background-color: #222; border-right-color: #404040; }
.ui-dark .ui-layout-right { background-color: #222; }
.ui-dark .ui-layout-left .ui-searchinput { border-bottom-color: #404040; }

.flowcomponents { padding: 0 5px 0; }
.flowcomponents figure { height: 42px; font-size: 11px; padding: 0 10px; margin: 0 10px 5px; border-radius: var(--radius); cursor: grab; line-height: 15px; background-color: #F8F8F8; border: 1px solid transparent; }
.flowcomponents figure.app { height: 60px; }
.app-pub { background-color: #EDF7FF !important; }
.app-sub { background-color: #FFEDF8 !important; }
.flowcomponents figure:hover { border-color: #E0E0E0; }
.flowcomponents figure i { width: 15px; margin: 14px 5px 0 5px; text-align: center; float: right; font-size: 15px; text-align: center; }
.flowcomponents .type { font-size: 11px; margin-top: 2px; margin-right: 30px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.flowcomponents .type span { padding: 1px 5px; border-radius: var(--radius); color: #FFF; }
.flowcomponents .type2 span { color: #999; background-color: #E5E5E5; }
.flowcomponents .url { font-size: 11px; margin-top: 2px; margin-right: 30px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: #999; }
.flowcomponents .schema { font-weight: bold; font-size: 14px; padding-top: 4px; }
.flowcomponents .caption { padding: 12px 10px 5px; font-size: 12px; color: #999; }
.ui-flow-h .output:last-child { border-radius: 0; }
.ui-flow-h .input:last-child { border-radius: 0; }

.ui-dark .flowcomponents figure { background-color: #303030; }
.ui-dark .app-pub { background-color: #273B4C !important; }
.ui-dark .app-sub { background-color: #543044 !important; }
.ui-dark .flowcomponents figure:hover { border-color: #404040; }
.ui-dark .flowcomponents .type span { color: #FFF; }
.ui-dark .flowcomponents .type2 span { color: #999; background-color: #4E4E4E; }
.ui-dark .flowcomponents .url { color: #999; }
.ui-dark .flowcomponents .caption { color: #999; }

.controls { float: right; margin-right: 10px; }
.controls button { width: 22px; height: 22px; border: 0; background-color: #FFF; line-height: 22px; padding: 0 5px; border-radius: var(--radius); margin-left: 2px; }
.controls button:first-child { margin-left: 0; }
.controls button:hover { background-color: #F0F0F0; }

.ui-dark .controls button { background-color: transparent; }
.ui-dark .controls button:hover { background-color: #303030; }

.ui-largeform-options { float: right; height: 30px; background-color: #F0F0F0; border: 1px solid #F0F0F0; line-height: 30px; font-size: 12px; border-radius: var(--radius); margin: 15px 18px 0 0; padding: 0 8px; cursor: pointer; }
.ui-largeform-options i { margin-right: 5px; }
.ui-largeform-options:hover { border-color: #E0E0E0; }

.ui-dark .ui-largeform-options { background-color: #333; border-color: #333; }
.ui-dark .ui-largeform-options:hover { border-color: #404040; }


.stats { height: 30px; background-color: #FFF; line-height: 30px; padding: 0 10px; font-size: 11px; position: absolute; left: 0; right: 0; bottom: 0; z-index: 2; }
.ui-dark .stats { background-color: #202020; }

.ui-flow .meta { padding: 8px; }
.ui-flow .meta span { color: #FFF; border-radius: var(--radius); padding: 1px 5px; }
.ui-flow .component { box-shadow: 2px 2px 10px rgba(0,0,0,0.1); border-width: 3px; max-width: 450px; }
.ui-flow-h .output { line-height: 30px; font-size: 14px; }
.ui-flow-h .output .component-io { line-height: 20px; margin-top: 8px; }
.ui-flow-h .input { line-height: 30px; font-size: 14px; }
.ui-flow-h .input .component-io { line-height: 20px; margin-top: 8px; }
.ui-flow-h .input.connected { color: #000; font-weight: bold; }
.ui-flow-h .output.connected { font-weight: bold; }
.ui-flow .connection { stroke-width: 2.5px; }
.ui-flow .content { padding: 0; }
.ui-flow .schema { padding: 5px 10px 10px; border-top: 1px solid rgba(0,0,0,0.1); line-height: 16px; }
.ui-flow .schema span { font-size: 11px; background-color: rgba(0,0,0,0.1); padding: 1px 4px; border-radius: var(--radius); color: #FFF; }
.ui-flow .schema code { font-size: 11px; font-family: Menlo,Consolas,monospace; margin-right: 5px; }
.ui-flow footer { border-top: 1px solid #E0E0E0; }

.ui-dark .ui-flow footer { border-top-color: #404040; }
.ui-dark .ui-flow-h .input.connected { color: #FFF; }

.sources-header { height: 60px; background-color: #F8F8F8; border-bottom: 1px solid #E0E0E0; }
.sources-header .input { padding: 12px 15px 0; }
.ui-dark .sources-header { background-color: #252525; border-bottom-color: #404040; }

.sources-item { height: 30px; border-bottom: 1px solid #E0E0E0; font-size: 12px; line-height: 30px; }
.sources-item .code { float: right; width: 120px; color: #E73323; }
.sources-item .name { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 0 10px 0 15px; }
.sources-item .name i { margin-right: 5px; }
.ui-dark .sources-item { border-bottom-color: #404040; }

.markdown pre { background-color: #F8F8F8; overflow: hidden; }